@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.darkmode{
    background-color: rgb(49, 46, 46);
    color: white;
}

/* Header*/

header section{
    display: flex;
    background-image: linear-gradient(rgb(214, 216, 185),rgb(177, 163, 163));
    background-repeat: no-repeat;               
    background-size:cover;
}

header section img{
    width:200px;
}

header section div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: rgb(71, 6, 6);
}

header section div p:first-child{
    font-size:60px;
}
header section div p:nth-child(2){
    font-size: 40px;
}


/*Navigation Bar*/
nav ul{
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-around;
    justify-self: center;
    background-color: #610b0c;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 15px black;
}
nav ul li{
    padding: 10px;
    height: 40px;
   
}
nav ul li a{
    color:white;
    text-decoration: none;
}

.nav-sub{
    position: absolute;
    z-index: 10;
}

.nav-sub ul{
    display: none;
}

nav ul li:hover{
    background-color: #4e0304;
}

nav ul li:hover .nav-sub ul{
    background-color: #4e0304;
    display: block;
}

.nav-sub ul li:hover{
    background-color: #5e0406;
    box-shadow: 2px 2px grey;
}

.modes{
    display: flex;
    flex-direction: row-reverse;
    float: right;
    margin-right: -100%;
    margin-bottom: -4%;
}

#nightmode{
    width: 50px;
    height: 50px;
    opacity: 0.2;
    border-radius: 30px;
}

#nightmode:hover{
    cursor: pointer;
}

#daymode{
    width: 50px;
    height: 50px;
    opacity: 0.2;
    border-radius: 30px;
}

#daymode:hover{
    cursor: pointer;
}

#menubtn{
    display: none;
}


/*Marquee*/
header marquee{
    padding: 5px;
    background-color: rgb(46, 44, 44);
    color: white;
}


/*--------*/



/* sections */


/*campus*/

section:not(.nit-head){
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.titl{
    display: flex;
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    justify-content: center;
    
}

.titl h1{
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

.titl h1:hover{
    text-decoration: none;
    transform: scale(1.3);  
    box-shadow: 15px 15px 15px 15px grey;
    border-radius: 30px;
}

.college-img{
    display: flex;
    justify-content: center;
}

.campus{
    margin-top: -200px;
}

.campus video{
    width: 80%;
    height: auto;
    margin-left: 130px;
    border-radius: 70px;
    transition: 0.5s;
}
.campus video:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px black;
}

.college-img img{
    margin-top: -5px;
    height: 300px;
    width: 700px;
    transition: ease-in 1s;
}

#left{
   position: absolute;
   margin-left: -95%;
   margin-top: 150px;
   padding: 20px;
   border-radius: 10px;
   border-style: none;
   font-size: 20px;
   opacity: 0.25;
}
#right{
    position: absolute;
    margin-right: -95%;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    opacity: 0.25;
}

#left:hover{
    opacity: 1;
}
#right:hover{
    opacity: 1;
}


/*Notifications*/
.notification{
    display: flex;
    justify-content: space-around;
}
.notify{
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
    border-bottom: 2px solid black;
}

.notify:hover{
    box-shadow: 10px 10px 15px black;
    transform: scale(1.25);
}


.notify-body ul{
    list-style: none;
}
.notify-body a{
    text-decoration: none;
    color: black;
}
.notify-body ul li{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
}

.notify-body ul li:last-child{
    box-shadow:none;
}


.notify-head{
    width: 347px;
    height: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: radial-gradient(#c92727,#5f0809);
    font-size: 20px;
}
.notify-head h1{
    color: white;
    transform: translateY(50%);
}

.notify marquee{
    width: 350px;
    height: 300px;
    border-radius: 30px;
}


/*course offered*/
.course-container{
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: grid;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(253, 246, 246);
    transition: 0.5s ease-in-out;
}
.dark-card{
    background-color: rgb(114, 110, 110);
}

.card .descp{
    text-align: center;
}

.card:hover{
    transform: scale(1.3);
    box-shadow: 5px 5px 10px 10px grey;
}

.card .image{
    width: 200px;
    height: 200px;
    background-size: cover;
}

.card .course-name{
    text-align: center;
    font-weight: bold;
}

#imgeng{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/engineering.jpg');
    background-size: cover;
}

#imgmang{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/management.jpg');
    background-size: cover;
}

#imgsci{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/science.jpg');
    background-size: cover;
}

/*Facilities*/
.facilities-container{
    display: flex;
    justify-content: space-evenly;
}
.facilities-container .card{
    width: 200px;
    height: 250px;
}
#imglib{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/library.jpeg');
    background-size: cover;
}
#imgpool{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/pool.jpeg');
    background-size: cover;
}
#imggym{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/gym.jpg');
    background-size: cover;
}
#imgsports{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('./pics/sports.jpg');
    background-size: cover;
}


/*------------*/



/* Footer*/

footer{
   margin-top: 10px;
   background-color: rgb(46, 43, 43);
}

footer div, footer p{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    color: white;
}

.main-footer:first-child{
    padding-top: 10px;
}

.main-footer ul{
    list-style: none;
}

.main-footer ul li a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}
.main-footer ul li a:hover{
    color: blue;
}

.social-media{
    display: block;
    padding-left: 35%;
    padding-right: 30%;
}
.social-media a{
    padding: 20px;
}

footer hr{
    height: 1px;
    width: 100%;
    display: block;
}


.foot-img{  
    margin-top: 30px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.foot-img:hover{
    box-shadow: 5px 5px 10px 10px grey;
}

/*---------*/


/*for low width devices*/
@viewport{
    zoom:1.0;
    width: 100vw;
}

@media(max-width:700px)
{

    header section{
        display: flex;
        flex-flow: column wrap;
        background-image: linear-gradient(rgb(214, 216, 185),rgb(177, 163, 163));
        background-repeat: no-repeat;               
        background-size:cover;
    }
    
    header section img{
        align-self: center;
        width:200px;
        height:200px;
    }
    
    header section div p:first-child{
        text-align: center;
        font-size:30px;
    }
    header section div p:nth-child(2){
        font-size: 20px;
    }
    .modes{
        display: flex;
        flex-direction: row-reverse;
        float: right;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-left: -50%;
    }
    
    #nightmode{
        width: 30px;
        height: 30px;
        opacity: 0.2;
        border-radius: 30px;
    }
    
    #daymode{
        width: 30px;
        height: 30px;
        opacity: 0.2;
        border-radius: 30px;
    }
    #menubtn{
        width: 30px;
        height: 30px;
        display: block;
        background-size: cover;
    }
    nav ul{
        position: absolute;
        list-style: none;
        color: white;
        justify-content: left;
        justify-self: left;
        background-color: #610b0c;
        text-align: center;
        align-items: left;
        width: 200px;
        height: 100vh;
        z-index: 1;
        box-shadow: 10px 10px 15px black;
        display: none;
    }

    .titl{
        display: flex;
        position: relative;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        justify-content: center;
        
    }
    
    .notification{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .notify{
        margin-left: 5%;
    }
    .course-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-left: 25%;
    }
    .facilities-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-left: 25%;
    }
    footer{
        margin-top: -20%;
    }
    footer div:not(.social-media){
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        background-color: rgb(46, 43, 43);
        padding: 0px;
        color: white;
        margin-left: 30%;
    }

    footer p{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        background-color: rgb(46, 43, 43);
        padding: 0px;
        color: white;
        margin-left: 15%;
    }
    .college-img{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .social-media{
        padding: 0px;
        margin-left: 5%;
    }
    .campus video{
        width: 80%;
        height: auto;
        margin-left: 10%;
        border-radius: 70px;
        transition: 0.5s;
    }
    #left{
        position: absolute;
        margin-left: 10%;
        margin-top: 0px;
        padding: 20px;
        border-radius: 10px;
        border-style: none;
        font-size: 20px;
        opacity: 0.25;
     }
     #right{
         position: absolute;
         margin-left: 80%;
         margin-top: 0px;
         padding: 20px;
         border-radius: 10px;
         border-style: none;
         font-size: 20px;
         opacity: 0.25;
     }
     .college-img img{
        margin-top: -5px;
        height: 200px;
        width: 370px;
        transition: ease-in 1s;
    }
}