*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Header*/

header section{
    display: flex;
    background-image: url(/pics/header-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header section img{
    width:15%;
}

header section div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: rgb(71, 6, 6);;
}

header section div p:first-child{
    font-size:60px;
}
header section div p:nth-child(2){
    font-size: 40px;
}


/*Navigation Bar*/
nav ul{
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-around;
    justify-self: center;
    background-color: #610b0c;
    text-align: center;
    align-items: center;
}
nav ul li{
    padding: 10px;
    height: 40px;
   
}
nav ul li a{
    color:white;
    text-decoration: none;
}

.nav-sub{
    position: absolute;
    z-index: 10;
}

.nav-sub ul{
    display: none;
}

nav ul li:hover{
    background-color: #4e0304;
}

nav ul li:hover .nav-sub ul{
    background-color: #4e0304;
    display: block;
}

.nav-sub ul li:hover{
    background-color: #5e0406;
    box-shadow: 2px 2px grey;
}

/*--------*/



/* main body */

body{
    background-image: url(/pics/background.jpg);
}

/*Marquee*/
marquee{
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(46, 44, 44);
    color: white;
}

.campus h1{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.campus h1:hover{
    box-shadow: 0px 5px 35px rgba(0,0,0,0.5);
    color: rgb(185, 179, 179);
}

.college-img{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.college-img img{
    height: 300px;
    width: 700px;
    transition: ease-in 1s;
}

#left{
   position: absolute;
   margin-left: -95%;
   margin-top: 150px;
   padding: 20px;
   border-radius: 10px;
   border-style: none;
   font-size: 20px;
   opacity: 0.25;
}
#right{
    position: absolute;
    margin-right: -95%;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    opacity: 0.25;
}

#left:hover{
    opacity: 1;
}
#right:hover{
    opacity: 1;
}

/*------------*/



/* Footer*/

footer{
   margin-top: 10px;
}

footer div, footer p{
    display: flex;
    justify-content: space-around;
    background-color: rgb(46, 43, 43);
    padding: 0px;
    color: white;
}

.main-footer:first-child{
    padding-top: 10px;
}

.main-footer ul{
    list-style: none;
}

.main-footer ul li a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}
.main-footer ul li a:hover{
    color: blue;
}

.social-media{
    display: block;
    padding-left: 35%;
    padding-right: 30%;
}
.social-media a{
    padding: 20px;
}

footer hr{
    height: 1px;
    width: 100%;
    display: block;
}


.foot-img{  
    margin-top: 30px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.foot-img:hover{
    box-shadow: 5px 5px 10px 10px grey;
}

/*---------*/